.opcional{

    color:#888;

    font-size:13px;

    font-weight:400;

}

.ayuda{

    display:block;

    margin-top:8px;

    margin-bottom:12px;

    color:#777;

    font-size:13px;

    line-height:1.5;

}
